@charset "utf-8";
body{
	font-family: "Helvetica Neue",Helvetica,Arial,"Microsoft YaheiUI",
	"Microsoft YaHei",SimHei,"\5B8B\4F53",simsun,sans-serif;
	 background-color: #eee; 
	 /* color: #666; */
	  
}
#navbar-collapse ul{
	margin-top: 0;
}
.navtitile{
	height: 10%; 
	padding: 0;
}
.navbar {
	margin-bottom:0: 
	padding:40px 0;
}
.carousel-inner img{
 margin: 0 auto;
}
/* 设置样式 */
.tab-h2{
	font-size: 20px;
	text-align: center;
	color: #0059b2;
	letter-spacing: 1px;/* 字体之间做间距 */
}
.tab-p{
	font-size: 15px;
	color: #999;
	text-align: center;
	letter-spacing: 1px;
	padding: 20px 0 40px 0;
}
.tab1{
	margin: 30px 0;
	color: #666;
}
.tab1 .text-muted{
	color: #999;
	text-decoration: line-through;
}
.tab1 .media-heading{
	margin: 5px 0 20px 0;
}
.tab1 .col{
	padding: 20px;
}
.jumbotron{
	background-image: url(../img/bj.jpg);
	background-size:100% 100%;
	background-attachment: fixed;
	color: #ccc;
}
.jumbotron .h1{
	font-size: 26px;
	padding: 0 0 0 100px;
}
.jumbotron .h4{
	font-size: 15px;
	padding: 0 0 0 40px;
}
#informartion{
	background-color: #fff;
	padding: 40px 0;
}
.info-content{
	background-color: #fff;
	margin: 0 0 20px 0;
	box-shadow: 2px 2px 3px #ccc;
}
.info-content img{
	margin: 12px 0;
}
.info-content h4{
    padding:2px 0 0 0; 
    color: #181818;
    font-size: 14px;
}
.info-content p{
	line-height: 1.3;
	color: #989898;
}
.info-right{
	background-color: #fff;
	box-shadow: 2px 2px 3px #ccc;
}
.info-right blockquote{
	margin: 0;
	padding: 0;
} 
.info-right h2{
	font-size: 25px;
	color: #333;
	padding: 5px;
}
.info-right h4{
	color: #333;
	font-size: 20px;
	padding-top:60px;
}

#about{
	background-color: #eee;
	padding: 40px 15px;
}
#about a{
    color: #0059b2; 
}
#about h3{
   color: #333;
   font-size: 18px;
   border-bottom: 1px solid #eee;
   padding: 20px 0;
   margin: 0 0 10px 0;
}
#about p{
   line-height: 2;
   font-size: 13px;
}
#about .about{
	background-color: #fff;
	box-shadow: 2px 2px 3px #ccc;
}
#assemble{
	padding: 40px 10px;
	background-color: #eee;
	text-align: center;
}
#assemble h4{
	color: #666;
}
#assemble p{
	color: #666;
	line-height: 1.6;
}
#car{
	padding: 40px 10px;
	background-color: #eee;
	text-align: center;
}
#car h4{
	color: #666;
}
#car p{
	color: #666;
	line-height: 1.6;
}
#flame{
	padding: 40px 10px;
	background-color: #eee;
	text-align: center;
}
#flame h4{
	color: #666;
}
#flame p{
	color: #666;
	line-height: 1.6;
}
#horse{
	padding: 40px 10px;
	background-color: #eee;
	text-align: center;
} 
#horse h4{
	color: #666;
} 
#horse p{
	color: #666;
	line-height: 1.6;
} 
/* footer  start*/
#footer{
	padding: 20px;
	text-align: center;
	color: #eee;
	background-color: #666;
	border-top: 1px solid #ccc;
}	
/* footer  end*/

/* 设置屏幕的分辨率 */

/* 小屏幕（平板，大于等于768px）*/
@media (min-width: 768px) {
.tab-h2{
	font-size: 26px;
}
.tab-p{
	font-size: 16px;
}
.jumbotron .h1{
	font-size: 30px;
}
.jumbotron .h4{
	font-size: 16px;
}
.info-content h4{
    font-size: 16px;
    overflow: hidden;/* 当小于768的时候隐藏长的部分，以...的形式呈现出来*/
    white-space: nowrap;
    text-overflow: ellipsis; 
}
#about h3{
   font-size: 19px;
}
#about p{
   font-size: 14px;
}
}
/* 中屏幕（平板，大于等于992px）*/
@media(min-width: 992px){
.tab-h2{
	font-size: 28px;
}
.tab-p{
	font-size: 17px;
}
.jumbotron .h1{
	font-size: 33px;
}
.jumbotron .h4{
	font-size: 17px;
}
.info-content h4{
    font-size: 18px;
}
#about h3{
   font-size: 20px;
}
#about p{
   font-size: 15px;
}
}
/* 大屏幕（平板，大于等于1200px）*/
@media (min-width:1200px) {
.tab-h2{
	font-size: 30px;
}
.tab-p{
	font-size: 18px;
}
.jumbotron .h1{
	font-size: 36px;
}
.jumbotron .h4{
	font-size: 18px;
}
.info-content h4{
    font-size: 20px;
}
#about h3{
   font-size: 22px;
}
#about p{
   font-size: 16px;
}
}


/* 文档样式 */
 .feature{
          padding: 30px 0;
        }
 .feature-heading{
          font-size: 30px;
          color:#2e6296;
          margin-top: 10px;
        }
.feature-heading .feature-title{
		  text-align:center;
		}
.feature-heading .text-muted{
          font-size: 18px;
          color: #999；
        }
.feature-heading .feature-footer{
		 text-align:right;
		}
.img-circle{
		width: 120px;
}
#about{
	color: #000000;
}
.modal-body-iphone{
	text-align: right;
	color: #9e9e9e;
}
